body {
    font-size: 18px;
    padding-bottom: 70px;
}
main {
    margin-top: 110px;
}

h2 {
    font-size: 25px;
    font-weight: 300;
}

.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 50px;
    margin-left: 20px;
}

@media (max-width:900px) {
    .container {
        margin-top: 70px;
    }
    
    .navbar .navbar-brand {
        font-size: 18px;
        line-height: 30px;
        margin-left: 20px;
    }
}

@media (max-width:560px) {
    .container {
        margin-top: 85px;
    }
}

.page-header {
    margin-top: 0;
}

img {
    max-width: 100%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
